
<div class="container" id="booking-card">
<h1>Bookings</h1>

<% @bookings.each do |booking| %>
<div class="card">
  <div class="card-body">
    <h5 class="card-text"><%= booking.user_id %></h5>
    <p class="card-text">Table id:<%= booking.table_id %></p>
    <p class="card-text">Name:<%= booking.name %></p>
    <p class="card-text">Email:<%= booking.email %></p>
    <p class="card-text">Ph no:<%= booking.phone_no %></p>
    <p class="card-text">Notes:<%= booking.notes %></p>
    </p>
  <%= link_to 'Show', booking, class:"btn btn-secondary" %>
  <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  </div>
</div>
<% end %>
<%= link_to 'Back', root_path, class:"btn btn-secondary" %>
</div>

