<div class="container">
<h1>Tables</h1>
<p> for <%= @restaurant.name %>

<% @tables.each do |table| %>
    
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= table.table_name %></h5>
    <p class="card-text">Capacity:  <%= table.capacity %></p>
    <%= link_to 'Show', restaurant_table_path(id:table.id), class:"btn btn-primary" %>
    <% if user_signed_in? && current_user.role == 'admin' %>
    <%= link_to 'Edit',  edit_restaurant_table_path(@restaurant,table.id), class:"btn btn-primary"%>
    <%= link_to 'Destroy', [@restaurant, table], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
    <% end %>
    </p>
  </div>
</div>
<% end %>
<% if user_signed_in? && current_user.role == 'admin' %>
<%= link_to 'New Table', new_restaurant_table_path, class:"btn btn-primary" %>
<% end %>
<%= link_to 'Back', :back, class:"btn btn-secondary" %>
</div>